//COLORS
$color-primary-light: #056dae;
$color-primary-dark: #002d72;

$text-dark: #424242;
$text-white: #ffffff;

$color-red: #ff0000;
$color-black: black;

$text-font: Interstate-Regular, sans-serif;